STOAT_TOKEN=STOAT_TOKEN
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}"
REDIS_URL=redis://redis:6379
LOG_LEVEL=debug

# Database Configuration
POSTGRES_USER=warden_admin
POSTGRES_PASSWORD=super_secure_password_here
POSTGRES_DB=warden